/* Fonts */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F4F5F6;
}

.roboto {
    font-family: 'Roboto Condensed', sans-serif;
}

.lora {
    font-family: 'Lora', serif;
}

.main-title {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    color: rgba(3,3,3,.4);
    padding: 0 0 11px;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 16px;
}

.main-title-link {
    text-decoration: none;
}

.main-title-link:hover {
    text-decoration: none;
}

/* nav bar */

.wrapper {
    position: relative;
    max-width: 1310px;
    margin: 0 auto;
}

.nav-row {
    padding: 20px 10px 15px;
    height: 95px;
}

.wrapper1 {
    background-color: #f72210;
}

.date h6 {
    color: white;
    font-size: 16px;
}

.date, .header-links {
    display: flex;
    align-items: flex-end;
}

.header-links {
    justify-content: flex-end;
}

.sign-in {
    font: bold 14px/14px "Roboto Condensed",sans-serif;
    font-size: 18px;
    color: white;
    padding: 6px 12px;
}

.subscribe {
    display: inline-block;
    position: relative;
    background-color: white;
    color: #f72210;
    font: bold 14px/14px "Roboto Condensed",sans-serif;
    line-height: 14px;
    font-size: 18px;
    outline: 0;
    text-decoration: none;
    padding: 6px 10px 6px 12px;
}

.subscribe svg {
    display: inline-block;
    fill: #f72210;
    height: 14px;
    width: 8px;
    margin-left: 10px;
}

.nav-logo svg{
    display: block;
    fill: white;
    width: 396px;
    height: 60px;
    margin: 10px auto 0;
}

.nav-logo {
    position: absolute;
    transform: translate(-50%,0);
    top: 0;
    left: 50%;
    padding: 10px 0;
}

nav {
    max-width: 1310px;
    margin: 0 -15px;
    background-color: white;
    padding: 15px 0;
}

.nav-links {
    margin-bottom: 0;
    width: 100%;
    justify-content: space-around;
}

.nav-links li {
    border-right: solid 1px #d9d9d9;
    padding: 0 auto;
    flex-grow: 1;
}

.nav-links .li-border {
    border-right: 0px;
}

.nav-links li:last-of-type {
    display: flex;
    height: 24px;
    border-right: 0px;
    justify-content: center;
    padding: 0 !important;
}

.nav-links input {
    border: none;
    width: 80px;
    height: 54px;
    margin: -15px 0;
    font-size: 16px;
    background-image: url(https://g.newsweek.com/www/images/icon-search-glass.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 60px 17px;
}

.nav-links input:focus {
    flex-grow: 10;
    background-image: none;
}

.nav-link{
    display: block;
    padding: 0 0 !important;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    line-height: 24px;
    color: black;
}

.nav-links a:hover {
    color: #f72210;
}

/* Main section */

main {
    padding: 20px 30px 0;
    border-top: solid 1px #d9d9d9;
    background-color: white;
}

/* main article styling */

.ma1 {
    background-image: url(https://d.newsweek.com/en/full/1553356/border-wall.jpg?w=397&h=265&q=90&f=99c648bbceb487fcd5428f5f7c9a2c50);
}

.ma2 {
    background-image: url(https://d.newsweek.com/en/full/1553679/bashar-al-assad-syria-us-oil-smuggle-steal.jpg?w=397&h=265&q=90&f=e87d2d44580a74705650e35db439ec17);
}

.ma3 {
    background-image: url(https://d.newsweek.com/en/full/1553541/indiana-university.jpg?w=397&h=265&q=90&f=0408b91bd2e5e16d48be033792043281);
}

.ma4 {
    background-image: url(https://d.newsweek.com/en/full/1543729/americas-best-stem-high-schools-2020.jpg?w=397&h=265&q=90&f=9f2c1f657ec2d1db899da25b4bcec062);
}

.ma5 {
    background-image: url(https://d.newsweek.com/en/full/1553686/trump-bolton.webp?w=591&h=364&f=c1f70f4926ce85e1e3188508f42459c9);
}

.main-article a:first-of-type {
    position: relative;
    display: block;
    width: 100%;
    padding-bottom: 66%;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-article a span {
    position: absolute;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgba(255,255,255,.9);
    color: #f72210;
    bottom: 0;
    left: 0;
    padding: 8px 15px 9px;
}

.main-article a h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 23px;
    font-weight: bold;
    color: black;
}

.main-article a:last-of-type {
    text-decoration-color: #f72210;
}

/* continue main section */

/* Media query */

@media screen and (max-width: 991px){
    .date {
        display: none;
    }

    .header-links {
        margin: auto 0;
        margin-right: 74px;
    }

    .nav-row {
        height: 50px;
        align-content: center;
    }

    .nav-logo svg{
        display: block;
        fill: white;
        width: 132px;
        height: 20px;
        margin: 0;
    }
    
    .nav-logo {
        position: absolute;
        transform: translate(0,0);
        top: 0;
        bottom: 0;
        left: 0;
        padding: 15px;
    }

    .hamburger {
        position: absolute;
        display: flex;
        right: 0;
        top: 0;
        width: 74px;
        height: 50px;
        flex-flow: column;
        cursor: pointer;
        justify-content: center;
    }

    .hamburger-icon {
        display: block;
        width: 30px;
        height: 4px;
        background-color: #fb9a94;
        margin: 4px auto;
    }

    .hamburger::before, .hamburger::after {
        content: "";
        display: block;
        width: 30px;
        height: 4px;
        background-color: #fb9a94;;
        margin-left: auto;
        margin-right: auto;
    }

    nav {
        display: none;
    }
}